:root {
  --grey: hsl(210deg 20% 98%);
  --blue: #4f4f6f;
  --font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

form :focus-visible {
  outline: none;
}

@font-face {
  font-family: logo;
  src: url(assets/Norse-Bold.otf);
}

body {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.side-section {
  background: url(assets/beach.jpg) center;
  flex-grow: 1;
}
.main {  
  width: 65vw;
  display: flex;
  flex-direction: column;
}

.main .header {
  background-color: var(--grey);
  flex: 1;
}

.main .form-container {
  background-color: white;
  padding-bottom: 25px;
  box-shadow: 5px 5px 5px rgb(214, 206, 206), 5px -2px 5px rgb(241, 236, 236);
  position: relative;
}

.main .footer {
  background-color: var(--grey);
  flex: 1;
}

#logo-div {
  margin-top: 20vh;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 17vh;
  display: flex;
  justify-content: center;
}

#logo-div > div {
  height: 100%;
  display:flex;
  align-items: center;
}

#logo-div img {
  height: 85%;
}
#logo-div p {
  font-family: logo;
  font-size: 80px;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header > div {
  padding: 40px;
}

.header p {
  font-size: 20px;
  font-weight: bold;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
}
.controls > div {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-right: 70px;
  margin-bottom: 1em;
}

form {
  margin-left: 50px;
}

form input {
  height: 30px;
  border-radius: 5px;
  border: gainsboro solid 1px;
}

form input:focus {
  border: lightskyblue 1px solid;
  box-shadow: 2px 2px 2px rgb(214, 206, 206);
}

form input.error {
  border: red 1px solid;
}

#pw-div {
  position: relative;
}

form #pw-div.error::after {
  content: '*Passwords do not match';
  position: absolute;
  color: red;
  font-family: var(--font);
  font-size: 10px;
  top: 60px;
}

form label {
  font-family: var(--font);
}

#submit {
  position: relative;
  top: 90px;
  background-color: var(--blue);
  height: 40px;
  width: 170px;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 5px rgb(214, 206, 206);
  color: white;
  font-size: 16px;
  font-family: var(--font);
}

.footer p {
  margin: 90px 50px;
  font-family: var(--font);
  font-size: 16px;
}

a {
  color: var(--blue);
  text-decoration: none;
}